<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Ultimas Noticias
  </div>
  <div class="row">
      <% @news.each do |news| %>
      <div class="col-md-4 img_new_home">
          <article>
            <div class="pic_news_section"> <a href="/u2-joshua-tree-bono-or-without-you-565383">
              <!--picture class="" width="391" height="261">
                <img width="391" height="261" class="img-responsive" src="http://lorempixel.com/640/480/sports/" alt="U2" title="">
              </picture -->
            </div>
            <div class="">
              <!--div class=""> <a href="/Deportes">Deportes</a -->
              </div><h5><%= link_to news.title, news %></h5>
              <div class="summary">
                <%= news.subtitle[0..250] + "..." %>
              </div>
            </div>
          </article>


      <% end %>

  </div>
</div>
