<%= form_for(comment) do |f| %>
    <%= f.hidden_field :news_id, :value => @news.id %>
    <div class="form-group">
      <label for="author">Nombre</label>
      <div class="field">
        <%= f.text_field :author %>
      </div>
      <label for="content">Comentario</label>
      <div class="field">
        <%= f.text_area(:content, :rows => 5, :class => 'form-control') %>
      </div>

    </div>
    <button class="btn btn-primary" type="submit">Crear Comentario</button>
<% end %>

